/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./styles/single-page.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./styles/single-page.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./styles/single-page.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./styles/single-page.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.section__heading {
  max-width: 90%;
  margin-bottom: 3.3rem;
}

.section__heading .heading__subtitle {
  color: #2b52aa;
  font-size: 40px;
  font-weight: 700;
  font-family: Palatino;
  line-height: 40px;
}

.section__heading .heading__title {
  color: #65d2de;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 40px;
}

.palatino__text {
  color: #0f213f;
  font-size: 24px;
  font-weight: 700;
  font-family: Palatino;
}

.page__text {
  font-size: 19px;
  font-weight: 400;
  line-height: 38px;
  color: #0f213f;
  font-family: Helvetica;
  margin-bottom: 1.5rem;
}

.app__section {
  padding-bottom: 14.3rem;
}

.app__section-inner {
  padding: 0 40px;
}

.app__section-left {
  padding-right: 2rem;
}

.app__hero {
  padding-top: 14px;
  margin-bottom: 8rem;
}

.app__hero,
.app__hero-image,
.app__hero-wrapper {
  position: relative;
}

.app__hero-image {
  /* aspect-ratio: 15/6; */
  height: 441px;
}

.app__hero-title {
  position: absolute;
  bottom: -20px;
  left: 40px;
  height: 151px;
  min-width: 448px;
  padding: 7px 32px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  background: #c33734;
  color: #fff;
}

.page__info-list {
  background: #f5f7f9;
  max-width: 482px;
  padding: 42px 28px 24px;
  margin-left: auto;
}

.page__list-title {
  color: #0f213f;
  font-size: 1.22rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.page__info-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page__info-list ul ul {
  margin-left: 1rem;
}

.page__info-list ul li {
  color: #2b52aa;
  font-size: 1rem;
  font-weight: 700;
  line-height: 34px;
  text-transform: capitalize;
}

.page__info-list ul li a {
  color: #2b52aa;
  font-weight: 500;
}

.page__info-foursquare {
  background: #2b52aa;
  max-width: 482px;
  padding: 38px 28px;
  margin: 20px 0 20px auto;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.page__info-foursquare_palatino {
  font-family: Palatino;
  color: #fff;
}

.page__info-foursquare_poppins {
  color: #65d2de;
}

.page__info-foursquare_sec {
  background: #f5f7f9;
  max-width: 482px;
  padding: 48px 81px 46px 28px;
  margin: 20px 0 20px auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.page__info-foursquare_sec .page__info-foursquare_poppins {
  color: #ff9bc2;
}

#features {
  margin-top: 6.4rem;
}

.features__heading {
  width: 100%;
  color: #0f213f;
}

.features__heading .features__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

.features__heading .features__subtitle {
  font-size: 18px;
  font-weight: 700;
  font-family: Palatino;
}

.features__list {
  display: flex;
  margin-top: 5.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 71px;
}

.feature__box {
  position: relative;
  padding-left: 27px;
  flex: 1;
  display: flex;
}

.feature__box .feature__box-num {
  position: absolute;
  left: 0;
  top: 19px;
  font-size: 120px;
  font-weight: 700;
  line-height: 0;
  z-index: -1;
}

.feature__box:first-of-type .feature__box-num {
  color: #65d2de;
}

.feature__box:nth-of-type(2) .feature__box-num {
  color: #ff9bc2;
}

.feature__box:last-of-type .feature__box-num {
  color: #ffcb47;
}

.feature__box .feature__box-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  color: #0f213f;
  width: 157px;
  max-width: 100%;
  font-family: Palatino;
}

#cricles__map {
  margin-top: 8rem;
}

.circles__list {
  display: block;
  position: relative;
  margin-top: 2.7rem;
}

.circles__list:before {
  content: "";
  background: url(/map-lines.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  width: 83%;
  height: 100%;
  position: absolute;
  top: 1px;
  left: 59px;
  z-index: -1;
}

.circles__row-1 {
  display: flex;
  justify-content: space-between;
}

.circles__row-2 {
  display: flex;
  justify-content: space-evenly;
}

.map__circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background: #44508d;
}

.circles__row-2 .map__circle:first-of-type {
  background: #041e42;
}

.circles__row-1 .map__circle:nth-of-type(2) {
  background: #8bcccf;
}

.circles__row-2 .map__circle:nth-of-type(2) {
  background: #ffcb47;
}

.circles__row-1 .map__circle:nth-of-type(3) {
  background: #ed5712;
}

.circles__row-2 .map__circle:nth-of-type(3) {
  background: #c33734;
}

.circles__row-1 .map__circle:nth-of-type(4) {
  background: #ff9bc2;
}

.map__circle p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .circles__list:before {
    width: 81%;
  }
}

@media screen and (max-width: 1300px) {
  .page__info-list {
    padding: 42px 30px 24px;
  }

  .page__list-title {
    font-size: 20px;
  }

  .page__info-list ul li {
    font-size: 18px;
  }

  .circles__list {
    max-width: 460px;
  }

  .circles__list:before {
    display: none;
  }

  .circles__row-1,
  .circles__row-2 {
    display: grid;
    grid-template-columns: repeat(2, 158px);
    row-gap: 40px;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
  }

  .circles__row-1:before {
    content: "";
    position: absolute;
    top: 79px;
    right: 79px;
    width: 67%;
    height: 58%;
    border: 2px solid #041e42;
    border-left: 0;
    z-index: -1;
  }

  .circles__row-1:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 60px;
    bottom: -59px;
    left: 79px;
    background: #041e42;
    z-index: -1;
  }

  .circles__row-2:before {
    content: "";
    position: absolute;
    top: 79px;
    right: 79px;
    width: 67%;
    height: 58%;
    border: 2px solid #041e42;
    border-left: 0;
    border-bottom: 0;
    z-index: -1;
  }

  .circles__row-2 .map__circle:nth-of-type(3) {
    grid-column-start: 2;
  }
}

@media screen and (max-width: 1024px) {
  .app__section-inner,
  .app__section-left {
    padding: 0;
  }

  .page__info-foursquare,
  .page__info-foursquare_sec,
  .page__info-list {
    width: 100%;
    max-width: 100%;
  }

  .section__heading {
    max-width: 100%;
    margin-top: 3rem;
  }
}

.know__more {
  padding: 3.6rem 0;
}

.know__more-inner {
  display: flex;
  align-items: flex-start;
}

.know__more-inner > div {
  flex: 1;
}

.know__more-title {
  color: #2b52aa;
  font-size: 30px;
  font-weight: 700;
}

.know__more-links a {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #9fabb7;
  display: flex;
  align-items: center;
  gap: 9px;
  text-transform: capitalize;
  margin-bottom: 19px;
  transition: all 0.4s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
}

.know__more-links a:hover {
  font-weight: 600;
  padding-left: 5px;
}

@media screen and (max-width: 991px) {
  .know__more-inner {
    display: block;
  }

  .know__more-links {
    margin-top: 2rem;
  }

  .circles__list {
    margin: 2.7rem auto 0;
  }
}

@media screen and (max-width: 767px) {
  .app__hero {
    margin-bottom: 5rem;
  }
  .app__hero-title {
    left: 20px;
    height: 130px;
    min-width: 380px;
  }

  .section__heading .heading__title {
    font-size: 50px;
    line-height: 55px;
  }

  .section__heading .heading__subtitle {
    font-size: 44px;
    line-height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .app__hero-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 479px) {
  .app__section {
    padding-bottom: 9.3rem;
  }
  .app__hero-title {
    font-size: 34px;
    padding: 30px 20px 7px;
    height: 109px;
    min-width: 62vw;
  }

  .section__heading .heading__title {
    font-size: 28px;
    line-height: 32px;
  }

  .section__heading .heading__subtitle {
    font-size: 28px;
    line-height: 32px;
  }

  .page__text {
    font-size: 18px;
    line-height: 34px;
  }
  .page__info-list {
    padding: 42px 20px 24px;
  }

  .page__info-foursquare,
  .page__info-foursquare_sec {
    padding: 38px 15px;
  }

  .features__heading .features__title {
    font-size: 18px;
  }
  .features__heading .features__title br {
    display: none;
  }
  .features__heading .features__subtitle {
    font-size: 16px;
  }
  .features__heading {
    width: 100%;
  }

  .feature__box .feature__box-text {
    width: 300px;
  }
}
